.content {
  text-align: center;
}

.cluster-marker {
  color: #fff;
  background: #1978c8;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  vertical-align: middle;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.card {
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.title {
  color: grey;
  font-size: 18px;
}

.other__info{
  display: flex;
  justify-content:space-around
}

.other__info span{
  font-size: 10px;
}

.card .button {
  margin-top: 1rem;
}

.card a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.card a:hover {
  opacity: 0.7;
}