.main {
    max-width: 80%;
    margin: 10rem auto;
    
}

.image {
    display: flex;
    justify-content: center;
    
}

.image img {
    min-width: 100%;
    height: auto;
    object-fit:inherit;
}

.travel__info {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.author__details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.travel__info .author__name {
    font-size: 1.5rem;
}

.travel__info .date {
    border-left: 1px solid;
    font-size: 1.5rem;
    padding-left: 1rem;
}

.travel__actions {
    padding-top: 0.6rem;
}

.travel__actions nav {
    display: flex;
    gap: 1rem;
}

.travel__actions .edit {
    text-decoration: none;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 4rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #ffc107;
}

.travel__actions .edit:hover {
    opacity: 0.7;
}

.travel__actions .delete {
    text-decoration: none;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 4rem;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #dc3545;
}

.travel__actions .delete:hover {
    opacity: 0.9;
}

.details {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.sidebar {
    display: flex;
    justify-content: center;
    flex: 35%;
    order: 1; 
    /* border-left: 1px solid #efece2;
    border-bottom:  1px solid #efece2; */
}

.sidebar .map__pin {
    font-size: 5rem;
    color: #dc3545;
}

.content {
    flex: 65%;
    padding-right: 1rem;
}

.box {
    margin-bottom: 20px;
    background-color: #f1f1f1;
    padding: 200px 10px;
}

.author__box {
    display: flex;
}

.travel__map {
    padding-top: 3rem;
}

.modal__delete__actions .cancel__button {
    gap: 0.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid rgba(25, 118, 210, 0.5);
    padding: 5px 15px;
    border-radius: 4px;
    font-weight: 500px;
    font-size: medium;
    color: #1976d2;
    cursor: pointer;
    text-decoration: none;
}

.modal__delete__actions .cancel__button:hover {
    background-color: rgba(25, 118, 210, 0.04);
    border: 1px solid #1976d2;
    cursor: pointer;
}

.modal__delete__actions .delete__button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #0f61ef;
    color: #fff;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.modal__delete__actions .delete__button:hover{
    background-color: #0f3cef;
}

.modal__delete__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 1rem;
}

@media (max-width: 700px) {
    .details {
        flex-direction: column;
    }
}