.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 5%;
  background-color: #1976d2;
  position: fixed;
  width: 100%;
  z-index: 1100;
  top: 0;
  left: auto;
  right: 0;
  box-sizing: border-box;
}

.logo {
  cursor: pointer;
  color: #fff;
  font-size: 2.8rem;
  text-decoration: none;
}

.nav__links {
  list-style: none;
  color: #fff;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
  cursor: pointer;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  color: #fff;
  text-decoration: none;
}

.cta a {
  color: #fff;
  font-size: 2.2rem;
  padding: 9px 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-direction: row;
  text-decoration: none;
}

.cta a:hover {
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 50px;
}

.cta a svg {
  padding-left: 5px;
}

.cta button {
  color: #fff;
  font-size: 2.2rem;
  padding: 9px 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  flex-direction: row;
  text-decoration: none;
}

.cta button:hover {
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 50px;
}

.cta button svg {
  padding-left: 5px;
}